<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-naderr" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
   <name>Naderr</name>
  <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/naderr/cordova-plugin-naderr.git</repo>
    <issue>https://github.com/naderr/cordova-plugin-naderr/issues</issue>
    <platform name="ios">
        <js-module src="www/naderr.js" name="naderr">
            <runs/>
            <clobbers target="naderPlugin" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="naderPlugin">
                <param name="ios-package" value="naderPlugin" onload="true" />
            </feature>
        </config-file>
        <source-file src="src/ios/naderr.m" />
	<header-file src="src/ios/naderr.h" />
	<source-file src="src/ios/libNaderr.a" />	
    </platform>
</plugin>
